*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  src: url("../assets/fonts/DeliusUnicase-Regular.ttf");
  font-family: "DeliusUnicase";
}

h1 {
  font-family: "DeliusUnicase";
  letter-spacing: 1.8px;
  padding-bottom: 80px;
  text-align: center;
  padding-top: 120px;
  font-size: 36px;
}

img {
  opacity: 0.8;
  width: 100%;
}

img:hover {
  opacity: 1;
}

.wrapper {
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  padding: 0 135px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.section1 {
  grid-template: repeat(3, 1fr)) / repeat(3, 1fr));
  gap: 30px;
  display: grid;
  grid-template-areas:
    "jezael tom-w tom-w"
    "johan-mouchet johan-mouchet federico-di-dio"
    "casey-horner alexander-rotker alexander-rotker";
}

.photo1 {
  grid-area: jezael;
}

.photo2 {
  grid-area: tom-w;
}

.photo3 {
  grid-area: johan-mouchet;
}

.photo4 {
  grid-area: federico-di-dio;
}

.photo5 {
  grid-area: casey-horner;
}

.photo6 {
  grid-area: alexander-rotker;
}

.section2 {
  grid-template: repeat(4, minmax(50px, 1fr)) / repeat(3, minmax(50px, 1fr));
  display: grid;
  gap: 30px;
  grid-template-areas:
    "robert sean sean"
    "john john dave"
    "john john dave"
    "leonard leonard rob";
}

.section2 > img:nth-child(2) {
  grid-area: sean;
}

.section2 > img:nth-child(3) {
  grid-area: john;
}

.section2 > img:nth-child(4) {
  grid-area: dave;
}

.section2 > img:nth-child(5) {
  grid-area: leonard;
}

.section2 > img:nth-child(6) {
  grid-area: rob;
}

.section3 {
  grid-template: repeat(5, minmax(50px, 1fr)) / repeat(3, minmax(50px, 1fr));
  padding-bottom: 120px;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "pooja dom seth"
    "devn dom noah"
    "sincerely seth-doyle2 noah"
    "sincerely melissa melissa"
    "brooke brooke clem";
}

.pooja {
  grid-area: pooja;
}

.dom {
  grid-area: dom;
}

.seth {
  grid-area: seth;
}

.devn {
  grid-area: devn;
}

.noah {
  grid-area: noah;
}

.melissa {
  grid-area: melissa;
}

.seth-doyle2 {
  grid-area: seth-doyle2;
}

.brooke {
  grid-area: brooke;
}

.clem {
  grid-area: clem;
}

.sincerely {
  grid-area: sincerely;
}

.container {
  position: relative;
}

.heart,
.icon {
  background-color: #e0e0e080;
  border-radius: 8px;
  position: absolute;
  cursor: pointer;
  padding: 10px;
  display: none;
  border: none;
  height: 40px;
  width: 40px;
}

img:hover + button,
button:hover {
  display: inline-block;
}

.heart {
  left: 10%;
  top: 10%;
}

.icon {
  left: 75%;
  top: 10%;
}
