// *Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

// *Rubik
@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

//*WorkSans
@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}